<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Beer App
    </ion-title>
  </ion-toolbar>
  <ion-searchbar color="dark" animated=true autocomplete="on" placeholder="Search by food..."
    [(ngModel)]="selectedFood" (ionChange)="searchFood($event)"></ion-searchbar>

</ion-header>


<ion-content>


  <div class="spin" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <ion-text color="dark">
      <h5>Searching...</h5>
    </ion-text>
  </div>

  <div *ngIf="!loading">

    <ion-list>
      <ion-item *ngFor="let beer of beers">
        <ion-thumbnail *ngIf="beer.img" slot="start">
          <img [src]="beer.img">
        </ion-thumbnail>
        <ion-icon *ngIf="!beer.img" name="globe-outline"></ion-icon>
        <ion-grid>


          <ion-row>

            <ion-col class="ion-align-self-center">
              {{beer.name}}
            </ion-col>
            <ion-col class="ion-align-self-end">
              <h3>Food Pairing: </h3>
                <div *ngFor="let food of beer.foods">
                  <p>{{food}}</p>
                </div>
            </ion-col>

          </ion-row>
        </ion-grid>



      </ion-item>
    </ion-list>

    <ion-item *ngIf="beers.length === 0 && selectedFood !==''">
      <ion-label>
        <h2>No beers found with your search criteria</h2>
      </ion-label>
    </ion-item>

  </div>
</ion-content>